{% extends 'base.html' %}
{% block content %}
    <main class="'main main--about">
        <p>
            I'm Sam, and I'm a software engineer currently based in San Diego, California. Welcome to my portfolio page.
        </p>
        <p>
            Information to be added later. Specialties include <em>Python</em> and <em>SQL</em>. I guarantee you will have a good time here.
        </p>
    </main>
    <img src="static/images/P1164885.jpg" alt="Profile picture of myself." style="float: right; width: 420px; height: 420px"></img>
{% endblock %}