{% extends 'base.html' %}
{% block content %}
    <main class="'main main--about">
        <img class="profile" src="static/images/P1164885.jpg" alt="Profile picture of myself." style="width: 420px; height: 420px"></img>
        <p>
            Hi! My name is Sam, and I'm a software engineer currently based in San Diego, California.
        </p>
        <p>
            I am strong in developing automation tests using the Robot Framework and executing these tests using Ansible. I also carry the CompTIA Linux+ Certification and am working on obtaining said company's Security+ Certification.
        </p>
        <p>
            Last, but not least, I am a Christian who has taken the Lord Jesus Christ as my Savior and as my everything. Praise the Lord that He has led me here!
        </p>
    </main>
{% endblock %}