{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:slow311@proton.me">
                        slow311 [at] proton.me
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/nqjsaml">
                        @nqjsaml
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://www.linkedin.com/in/sam-low-m301/">
                        /in/sam-low-m301
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}